.container{
    padding: 50px;
    display: flex;
}

.left{
    flex: 2;

}

.right{
    flex: 1;

}

.wrapper{
    width: 90%;
    max-height: 300px;
    background-color: #333;
    padding: 50px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.title{

}

.totalText{

}

.totalTextTitle{
    margin-right: 10px;
}

.statusButton{
    background-color: white;
    height: 30px;
    color: teal;
    font-weight: bold;
    margin-top: 10px;
    cursor: not-allowed;
}

.row{

}

.row:last-child{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.table{
    width: 100%;
    border-spacing: 20px;
    text-align: left;
    margin-bottom: 50px;
}

.tr{

}

.imgContainer{
    width: 100px;
    height: 100px;
    position: relative;
}

.name{
    font-weight: 500;
    color: #d1411e;
    font-size: 18px;
    
}

.extras{

}

.price{

}

.quantity{

}

.total{
    font-weight: 500;
    font-size: 18px;
}

.checkedIcon{

}

.done{

}

.inProgress{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: inProgress 1s ease infinite alternate;

}

@keyframes inProgress{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.undone{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.3;

}

.undone .checkedIcon,
.inProgress .checkedIcon{
    display: none;
}